@import "tailwindcss";

@theme{
  /*Background*/
  --color-background-main: #171216;

  /*text*/
  --color-main-text: #DAD2DA;
  --color-muted-text: #928A91;

  /*accent*/
  --color-accent: #E7715F

}

.cm-header {
  font-weight: bold;
}

.cm-h1 {
  font-size: 2rem;
}

.cm-h2 {
  font-size: 1.5rem;
}

.cm-h3 {
  font-size: 1.25rem;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-muted-text);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}